header {
    position:fixed;
    top:0;left:0;
    width:clamp(100%, 100%, 100vw);
    padding:var(--Header-Bar-Padding-Y) var(--Header-Bar-Padding-X);
    background:var(--Header-Bar-BG);
    border-bottom:var(--Header-Bar-Bottom-Border-Size) solid var(--Header-Bar-Bottom-Border-Color);
    color:var(--Header-Bar-Text-Color);
    z-index:69;
}

.head-left { flex:1 }

.head-left img {
    display:inline-block;
    margin-top:-2px;
    width:var(--Header-Images-Width);
}

.head-left img + * {
    margin-left:9px;
}

.head-left h2, .head-right h4 {
    margin:0;
    font-family:"Inter", sans-serif;
    font-size:var(--Header-Bar-Font-Size);
    font-weight:500;
    text-transform:initial;
    letter-spacing:0;
    word-spacing:0;
}

.head-right > a[href*="glenthemes"]{
    gap:0 8px;
    color:inherit;
}

.head-right h4 {
    font-size:calc(var(--Header-Bar-Font-Size) - 1px);
    letter-spacing:0.1px;
}

.head-right img {
    width:calc(var(--Header-Images-Width) - 0px);
    margin-right:1px;
}

.head-right img[src*="glenthemes_logo"]{
    display:inline-block;
    margin-top:1px;
}

header button {
    padding:0;
    margin:0;
    border:none;
    background:transparent;
    outline:none;
    font:inherit;
    color:inherit;
    line-height:inherit;
}

header button.topnav {
    padding:var(--Header-Button-Touch-Padding);
    margin-left:calc(8px - var(--Header-Button-Touch-Padding));
    margin-right:calc(0px - var(--Header-Button-Touch-Padding));
    cursor:pointer;
}

header button.topnav i[class]{
    font-size:var(--Header-Button-Icon-Size);
    color:var(--Header-Button-Icon-Color);
}

header nav.dropdown {
    position:absolute;
    top:100%;right:0;
    --bonus:1rem;
    margin-top:calc(var(--Header-Bar-Bottom-Border-Size) + var(--Nav-Dropdown-Offset-Top) + var(--bonus));
    margin-right:calc(var(--Nav-Dropdown-Offset-Right));

    display:none;
    opacity:0;
}

header nav.dropdown.open {
    opacity:1;
    margin-top:calc(var(--Header-Bar-Bottom-Border-Size) + var(--Nav-Dropdown-Offset-Top));
}

header nav.dropdown, header nav.dropdown.open {
    transition:opacity var(--Nav-Dropdown-Animation-Speed) ease-in-out, margin-top var(--Nav-Dropdown-Animation-Speed) ease-in-out;
}

header nav.dropdown ul {
    list-style:none;
    margin:0;
    padding:var(--Nav-Dropdown-Padding-Y) var(--Nav-Dropdown-Padding-X);
    background:var(--Nav-Dropdown-BG);
    border:var(--Nav-Dropdown-Border-Size) solid var(--Nav-Dropdown-Border-Color);
    border-radius:var(--Nav-Dropdown-Rounded-Corners);
    font-family:"Inter", sans-serif;
    font-weight:500;
    font-size:var(--Nav-Dropdown-Font-Size);
    text-transform:capitalize;
    color:var(--Nav-Dropdown-Text-Color);

    display:flex;
    flex-direction:column;
    min-width:var(--Nav-Dropdown-MinWidth);
}

header nav.dropdown ul a {
    padding:calc(var(--Nav-Dropdown-Row-Spacing) / 2) 0;
    color:inherit;
}

header nav.dropdown ul a.flex {
    gap:0 var(--Nav-Dropdown-Icons-Gap);
}

header nav.dropdown ul i[class]{
    transform:perspective(0);
    margin-top:-1px;
    font-size:var(--Nav-Dropdown-Icons-Size);
    color:var(--Nav-Dropdown-Icons-Color);
}

.not-hov {
    opacity:0.5
}

.not-hov, li:not(.not-hov){
    transition:opacity var(--Nav-Dropdown-Links-Hover-Speed) ease-in-out;
}

header nav.dropdown ul > li:first-child {
    margin-top:calc(var(--Nav-Dropdown-Padding-Y) / -2);
}

header nav.dropdown ul > li:last-child {
    margin-bottom:calc(var(--Nav-Dropdown-Padding-Y) / -2);
}
