main {
    margin-top:calc((var(--Header-Bar-Padding-Y) * 2) + var(--Header-Images-Width) + var(--Header-Bar-Bottom-Border-Size));
    margin-left:auto;
    margin-right:auto;
    width:var(--Main-Container-Width);
    gap:0 var(--Sidebar-Gap-Right)
}

main .main-inner.flex {
    flex-direction:column;
    gap:var(--Main-Container-Section-Spacing) 0;
    flex:1;
}

.main-inner {
    margin:var(--Main-Container-Screen-Margins) auto;
}

.preview-area img {
    border-radius:var(--Preview-Image-Rounded-Corners);
    border:var(--Preview-Image-Border-Size) solid var(--Preview-Image-Border-Color);
}

main .with-shadow {
    box-shadow:0.5rem 0.5rem 1.5rem rgba(0,0,0,2.69%);
}

main .box {
    position:relative;
    padding:var(--Boxes-Padding-Y) var(--Boxes-Padding-X);
    border-radius:var(--Boxes-Rounded-Corners);
    border:var(--Boxes-Border-Size) solid var(--Boxes-Border-Color);
    background:var(--Boxes-BG);
    width:100%;
    clip-path:inset(0 0 0 0);
    /* overflow:hidden; */
}

.popup-box ul,
.popup-box ol,
main .box ul:not(nav ul),
main .box ol:not(nav ol){
    padding-left:0;
    margin-left:calc(0.5em + var(--Body-Font-Size) + 1em);
}

.popup-box li,
main .box li:not(nav li){
    padding-left:0.5em;
}

/* nested bullets */
.popup-box ul ul,
.popup-box ul ol,
.popup-box ol ol,
.popup-box ol ul,
main .box ul:not(nav ul) ul:not(nav ul),
main .box ul:not(nav ul) ol:not(nav ol),
main .box ol:not(nav ol) ol:not(nav ol),
main .box ol:not(nav ol) ul:not(nav ul){
    margin-left:1.5em;
}

main .box *:not(h1, h2, h3, h4, h5, h6) b {
    font-family:"Indivisible-SemiBold", sans-serif;
    font-weight:normal;
}

main .box *:not(h1, h2, h3, h4, h5, h6) b i,
main .box *:not(h1, h2, h3, h4, h5, h6) i b {
    font-family:"Indivisible-SemiBoldItalic", sans-serif;
}

main .box > h1:first-child,
main .box > h2:first-child,
main .box > h3:first-child,
main .box > h4:first-child,
main .box > h5:first-child,
main .box > h6:first-child {
    margin-top:0;
}

main .box h1,
main .box h2,
main .box h3,
main .box h4,
main .box h5,
main .box h6 {
    font-size:var(--Boxes-Heading-Size);
}

main .box blockquote {
    margin:1em 1em 1em 1rem;
    padding-left:calc(var(--Boxes-Padding-X));
    border-left:var(--Blockquote-Border-Size) solid var(--Blockquote-Border-Color);
}

main .box a:not(main .box.desc nav ul a, a.no-line), .popup-box a {
    color:var(--Links);
    padding-bottom:0.1em;
    border-bottom:var(--Links-Underline-Size) solid var(--Links-Underline-Color);
}

main .box a:not(main .box.desc nav ul a, h2 a, h3 a, h4 a, h5 a, h6 a){
    font-family:"Indivisible-SemiBold", sans-serif;
}

main .box > *:first-child { margin-top:0 }
main .box > *:only-child { margin:0 }
main .box > *:last-child { margin-bottom:0 }

main .box.desc nav ul {
    list-style:none;
    padding:0;
    margin:0;
}

main .box.desc nav ul.flex {
    gap:var(--Post-Buttons-Spacing);
}

main .box.desc nav ul li > a {
    padding:var(--Post-Buttons-Padding-Y) var(--Post-Buttons-Padding-X);
    border:var(--Post-Buttons-Border-Size) solid var(--Post-Buttons-Border-Color);
    background:var(--Post-Buttons-BG);
    border-radius:var(--Post-Buttons-Rounded-Corners);
    color:var(--Links);
    font-family:"Figtree", sans-serif;
    font-weight:500;
    text-transform:uppercase;
    font-size:var(--Post-Buttons-Font-Size);
    letter-spacing:0.04em;
    gap:0 var(--Post-Buttons-Icon-Gap);
}

main .box.desc nav ul li > a i[class]{
    font-size:var(--Post-Buttons-Icon-Size);
}

main .box.desc nav ul li > a span {
    margin-top:calc(var(--Post-Buttons-Font-Size) * 0.15);
    padding-right:3px;
}

main .box h4 {
    font-family:"Inter", sans-serif;
    font-weight:500;
    letter-spacing:0;
    word-spacing:0;
    font-size:calc((var(--Boxes-Heading-Size) + var(--Body-Font-Size)) / 2);
    text-transform:initial;
}

main .box img {
    border-radius:var(--Inline-Images-Rounded-Corners);
    border:var(--Inline-Images-Border-Size) solid var(--Inline-Images-Border-Color);
}

main .box img.xxs {
    width:clamp(min(64px, 12.5%), 64px, 17%);
}

main .box img.xs {
    width:clamp(min(120px, 25%), 120px, 35%);
}

main .box img.s {
    width:clamp(min(200px, 35%), 200px, 69%);
}

main .box img.m {
    width:clamp(min(250px, 69%), 250px, 100%);
}

main .box img.l {
    width:clamp(min(300px, 85%), 300px, 100%);
}

main .box li > img:last-child {
    margin-bottom:0.35em;
}

main .box ol.more-li-gap > li + li {
    margin-top:0.25em;
}

main .box .option-group {
    margin-left:calc(0px - var(--Boxes-Padding-X));
    padding:var(--Boxes-Padding-Y) var(--Boxes-Padding-X) 0 var(--Boxes-Padding-X);
    border-top:var(--Boxes-Border-Size) solid var(--Boxes-Border-Color);
    width:calc(100% + (var(--Boxes-Padding-X) * 2));
}

main .box .option-group + .option-group {
    margin-top:var(--Boxes-Padding-Y);
}

main .box *:not(.option-group) + .option-group {
    padding-top:1em;
    border-top:none;
}

main .box .option-group > *:first-child { margin-top:0 }
main .box .option-group > *:last-child { margin-bottom:0 }

main .box .option-group > h4:first-child {
    display:inline-block;
}

main .box .option-group h4:first-child > .flex > span:first-child {
    display:flex;
    align-items:center;
    gap:0.4em;
    padding:var(--Code-Padding-Y) calc(var(--Code-Padding-X) + 2px);
    border-radius:var(--Code-Rounded-Corners);
    border:var(--Code-Border-Size) solid var(--Code-Border-Color);
    background:rgba(var(--Code-BG-RGB),0.69);
}

main .box .option-group h4:first-child > .flex > span:first-child + i.type:before {
    content:"option type: ";
    margin-right:1px;
    opacity:0.69;
}

main .box .option-group h4:first-child > .flex > span:first-child + i.type {
    margin-left:0.69em;
    font-family:"Indivisible-Italic", sans-serif;
    font-style:italic;
    font-size:calc(var(--Body-Font-Size) - 1.5px);
    opacity:0.69;
}

main .box .option-group > h4:first-child + p {
    margin-top:calc(0px - 1em + 0.3em);
}

.option-group .color-circle {
    /* width:calc((var(--Boxes-Heading-Size) + var(--Body-Font-Size)) / 2); */
    /* height:calc((var(--Boxes-Heading-Size) + var(--Body-Font-Size)) / 2); */
    width:var(--Boxes-Heading-Size);
    height:var(--Boxes-Heading-Size);
    border-radius:100%;
    border:var(--Code-Border-Size) solid var(--Code-Border-Color);
}

main .box .option-group > h4:first-child + ul,
main .box .option-group > h4:first-child + ol {
    margin-top:calc(0px - 1em + 0.5em);
}

main .box .table-wrap {
    border:var(--Table-Border-Size) solid var(--Table-Border-Color);
    border-radius:var(--Table-Rounded-Corners);
    overflow:hidden;
}

main .box table {
    margin-top:calc(0px - var(--Table-Border-Size));
    margin-left:calc(0px - var(--Table-Border-Size));
    margin-bottom:calc(0px - var(--Table-Border-Size));
    border-collapse:collapse;
    width:calc(100% + (var(--Table-Border-Size) * 2));
}

main .box table tbody tr > td:first-child:not(:last-child){
    font-family:"Fragment Mono", monospace;
    font-size:calc(var(--Body-Font-Size) - 1px);
    text-align:right;
}

main .box table td {
    border:var(--Table-Border-Size) solid var(--Table-Border-Color);
    padding:var(--Table-Cell-Padding-Y) var(--Table-Cell-Padding-X);
}

main .box table thead {
    font-family:"Indivisible-Medium", sans-serif;
}

main .box table thead tr > td:first-child:not(:last-child){
    white-space:nowrap;
    text-align:right;
}
