aside {
    position:sticky;
    top:var(--Header-Bar-Height);
    width:var(--Sidebar-Width);
    
    --Paper-Edge:7px; /* space between holes and edge of the paper */
    --Rail-Width:1px;
    --Rail-Height:calc(10px + (var(--Paper-Edge) * 2));
    --Hole-Width:9px;
    --Hole-Border-Size:1px;
    --Hole-Border-Color:#ddd; /* was e8e9ec, var(--Sidebar-Border-Color) */
    --Hole-BG:#fdfdfd; /* should be same as body bg color */
}

aside nav ul {
    list-style:none;
    margin:0;
    padding:0;
}

.sb-inner h2 {
    margin:0;
    padding:var(--Sidebar-Padding-Y) var(--Sidebar-Padding-X);
    padding-bottom:calc(var(--Sidebar-Padding-Y) + var(--Hole-Width) + var(--Paper-Edge));
    border:var(--Sidebar-Border-Size) solid var(--Sidebar-Border-Color);
    background:var(--Sidebar-BG);
    border-radius:var(--Sidebar-Rounded-Corners) var(--Sidebar-Rounded-Corners) 0 0;
    font-size:calc(var(--Body-Font-Size) * 1.1);
    text-align:center;
}

.sb-nav-wrap {    
    padding:var(--Sidebar-Padding-Y) var(--Sidebar-Padding-X);
    padding-top:calc(var(--Sidebar-Padding-Y) + var(--Hole-Width) + var(--Paper-Edge));
    border-radius:0 0 var(--Sidebar-Rounded-Corners) var(--Sidebar-Rounded-Corners);
    border:var(--Sidebar-Border-Size) solid var(--Sidebar-Border-Color);
    background:var(--Sidebar-BG);
    font-family:"Indivisible-Medium", sans-serif;
}

aside nav > ul > li:before {
    content:"#";
    margin-right:0.2em;
    font-family:"Figtree";
    color:#b2b4bc;
}

aside nav a {
    color:var(--Sidebar-Links-Color);
    padding-bottom:0.1em;
    border-bottom:var(--Links-Underline-Size) solid var(--Links-Underline-Color);
    transition:color 0.2s ease-in-out;
}

aside nav a:hover {
    color:var(--Sidebar-Links-Hover-Text-Color);
}

.rails-1 {
    margin:auto;
}

.rails-1 .rail {
    margin:auto;
    width:80%;
    height:var(--Main-Container-Screen-Margins);
    border-left:var(--Sidebar-Border-Size) solid var(--Sidebar-Border-Color);
    border-right:var(--Sidebar-Border-Size) solid var(--Sidebar-Border-Color);
}

.rails-1 .rail.ani {
    animation-name:yeet;
    animation-duration:0.69s;
    animation-timing-function:ease-in-out;
    animation-iteration-count:1;
    animation-direction:normal;
    animation-fill-mode:forwards;
}

@keyframes yeet {
    0% {
        height:calc(var(--Main-Container-Screen-Margins) * 1.25);
    }

    55% {
        height:calc(var(--Main-Container-Screen-Margins) * 1.8);
    }

    70% {
        height:calc(var(--Main-Container-Screen-Margins) * 0.8);
    }

    100% {
        height:var(--Main-Container-Screen-Margins);
    }
}

.rails-2 {
    margin:auto;
    width:92%;
    display:flex;
    align-items:center;
    justify-content:space-around;
}

.rails-2 .rail {
    position:relative;
    margin-top:calc(0px - var(--Paper-Edge));
    margin-bottom:calc(0px - var(--Paper-Edge));
    width:var(--Rail-Width);
    height:var(--Rail-Height);
    background:var(--Sidebar-Border-Color);
    border-radius:var(--Rail-Width);
    z-index:1;
}

.rails-2 .rail.ani {
    animation-name:streetch;
    animation-duration:1s;
    animation-timing-function:ease-in-out;
    animation-iteration-count:1;
    animation-direction:normal;
    animation-fill-mode:forwards;
}

@keyframes streetch {
    0% {
        height:calc(var(--Rail-Height) * 1.68)
    }

    25% {
        height:calc(var(--Rail-Height) * 3)
    }

    69% {
        height:calc(var(--Paper-Edge) * 2)
    }

    85% {
        height:var(--Rail-Height)
    }

    100% {
        height:var(--Rail-Height)
    }
}

.rails-2 .rail:before {
    content:"";
    position:absolute;
    bottom:100%;left:0;
    margin-left:calc(0px - (var(--Hole-Width) / 2) - (var(--Hole-Border-Size) / 2));
    width:var(--Hole-Width);
    height:var(--Hole-Width);
    border:var(--Hole-Border-Size) solid var(--Hole-Border-Color);
    background:var(--Hole-BG);
    border-radius:100%;
}

.rails-2 .rail:after {
    content:"";
    position:absolute;
    top:100%;left:0;
    margin-left:calc(0px - (var(--Hole-Width) / 2) - (var(--Hole-Border-Size) / 2));
    width:var(--Hole-Width);
    height:var(--Hole-Width);
    border:var(--Hole-Border-Size) solid var(--Hole-Border-Color);
    background:var(--Hole-BG);
    border-radius:100%;
}

.rails-2 .rail:before, .rails-2 .rail:after {
    box-shadow:0 0 calc(var(--Hole-Width) * 1.25) rgba(0,0,0,9%);
}
