/*---------- BASICS ----------*/
* {
    box-sizing:border-box;
}

html, body {
    scroll-behavior:smooth;
    overscroll-behavior:none;
}

img, canvas, figure, video, iframe {
    max-width:100%;
    vertical-align:middle;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Lacoste-Medium", sans-serif;
    font-weight:normal;
    text-transform:uppercase;
    letter-spacing:0.035em;
    word-spacing:0.035em;
}

h1 b, h2 b, h3 b, h4 b, h5 b, h6 b {
    font-weight:inherit;
}

a {
    text-decoration:none;
}

.caps {
    font-family:"Indivisible-Medium", sans-serif!important;
    font-weight:normal!important;
    font-size:calc(var(--Body-Font-Size) * 0.9)!important;
    text-transform:uppercase!important;
    letter-spacing:0.035em!important;
}

b.caps, b .caps {
    font-family:"Indivisible-SemiBold", sans-serif!important;
    font-weight:normal!important;
}

body {
    background-color:#fdfdfd;
    font-family:"Indivisible", sans-serif;
    font-size:var(--Body-Font-Size);
    color:var(--Body-Text-Color);
    line-height:var(--Body-Line-Height);
}

i:not([class]), em {
    font-style:normal;
    font-family:"Indivisible-Italic", sans-serif;
}

pre {
    white-space:pre-line;
    padding:1rem;
}

pre.pre-wrap {
    white-space:pre-wrap;
}

pre, code {
    border:var(--Code-Border-Size) solid var(--Code-Border-Color);
    border-radius:var(--Code-Rounded-Corners);
    background:var(--Code-BG);
    font-family:"Fragment Mono", monospace;
    font-size:calc(var(--Body-Font-Size) - 1.5px);
    color:var(--Code-Text-Color);
    word-break:break-all;
    font-variant-ligatures:none;
}

code:not(pre code){
    display:inline-block;
    padding:var(--Code-Padding-Y) var(--Code-Padding-X);    
}

.faded {
    opacity:0.69;
}

.flex {
    display:flex;
    align-items:center;
}

.flex.top { align-items:flex-start; }
.flex.wrap { flex-wrap:wrap }
.flex > .self-y-center { align-self:center }
.flex.x-center { justify-content:center }
.flex.y-center { align-items:center }
.flex.true-center {
    align-items:center;
    justify-content:center;
}
.flex.spread {
    justify-content:space-between;
}

p.more-y-space {
    margin:1.6em 0;
}

.add-pseudo-dot:after {
    content:"."
}

br.add-top {
    content:"";
    display:block;
    margin:0.69em 0;
}

br.add-top.s {
    margin:0.25em 0;
}

h4.less-y-space {
    margin:0.5em 0;
}

h4.less-top {
    margin-top:0.5em;
}

h4.less-bot {
    margin-bottom:0.5em;
}

[class^="mgc_"]:before, [class*=" mgc_"]:before {
    color:inherit;
}

.highlight {
    padding:0.3rem 0.5rem!important;
    background-color:#ffdd92;
    border:none!important;
    border-radius:3px!important;
}

/*------- SCROLLBAR -------*/
@-moz-document url-prefix(){
    * {
        scrollbar-width:thin; /* firefox only */
    }
}

::-webkit-scrollbar {
    width:var(--Scrollbar-Padding);
    height:var(--Scrollbar-Padding);
    background-color:transparent;
}
 
::-webkit-scrollbar-thumb {
    background-color:var(--Scrollbar-Thumb);
    border:calc((var(--Scrollbar-Padding) - 1px) / 2) solid transparent;
    background-clip:padding-box;
}
 
::-webkit-scrollbar-corner {
    background:transparent;
}

/*------- ANCHOR STUFF -------*/
main .box [id]:not([id=""]){
    --bonus:calc(var(--Main-Container-Section-Spacing) + var(--Boxes-Padding-Y));
    margin-top:calc(0px - var(--Header-Bar-Height) - var(--bonus))!important;
    padding-top:calc(var(--Header-Bar-Height) + var(--bonus));
}

/*------- TOOLTIPS -------*/
.tippy-box {
    background:#33373c;
    border-radius:4px;
}

.tippy-content {
    font-family:"Inter", sans-serif;
    font-weight:500;
    font-size:0.625rem;
    text-transform:uppercase;
    letter-spacing:0.07em;
    color:#eee;
}

.tippy-popper {
    pointer-events:none;
}

/*------- RESPONSIVE STUFF -------*/
@media(max-width: 768px){
    main.flex.top {
        flex-wrap:wrap;
        justify-content:center;
    }

    aside {
        position:relative!important;
        top:initial!important;
    }
}

@media(min-width: 1000px){
    main.flex > *:first-child {
        margin-left:-5vw
    }

    main.flex > *:last-child {
        margin-right:5vw;
    }
}
