:root {
    /*----- HEADER BAR -----*/
    --Header-Bar-Padding-X:1.2rem;
    --Header-Bar-Padding-Y:1rem;
    --Header-Bar-BG:#fff;
    --Header-Bar-Bottom-Border-Size:1px;
    --Header-Bar-Bottom-Border-Color:#f0f0f0;

    --Header-Images-Width:1rem;
    --Header-Bar-Font-Size:0.85rem;
    --Header-Bar-Text-Color:#252525;

    --Header-Button-Touch-Padding:4px;
    --Header-Button-Icon-Size:0.9rem;
    --Header-Button-Icon-Color:#252525;

    /*----- DROPDOWN MENU -----*/
    --Nav-Dropdown-Offset-Top:var(--Header-Bar-Padding-X);
    --Nav-Dropdown-Offset-Right:var(--Header-Bar-Padding-X);

    --Nav-Dropdown-Padding-X:1.2rem;
    --Nav-Dropdown-Padding-Y:1.2rem;
    --Nav-Dropdown-BG:#ffff;
    --Nav-Dropdown-Rounded-Corners:0.5rem;
    --Nav-Dropdown-Border-Size:1px;
    --Nav-Dropdown-Border-Color:#f0f0f0;
    --Nav-Dropdown-MinWidth:169px;
    --Nav-Dropdown-Animation-Speed:0.4s;

    --Nav-Dropdown-Icons-Size:1rem;
    --Nav-Dropdown-Icons-Color:#454545;
    --Nav-Dropdown-Icons-Gap:0.65em;

    --Nav-Dropdown-Font-Size:0.8rem;
    --Nav-Dropdown-Text-Color:#252525;
    
    --Nav-Dropdown-Links-Hover-Speed:0.25s;
    --Nav-Dropdown-Row-Spacing:0.6rem;
    
    /*----- CONTAINER SETTINGS -----*/
    --Sidebar-Width:250px;
    --Sidebar-Padding-X:0.9rem;
    --Sidebar-Padding-Y:0.8rem;
    --Sidebar-Border-Size:1px;
    --Sidebar-Border-Color:#ececec;
    --Sidebar-Rounded-Corners:0.5rem;
    --Sidebar-BG:#fff;
    --Sidebar-Links-Color:#6f7580;
    --Sidebar-Links-Hover-Text-Color:#383f4f;
    --Sidebar-Gap-Right:60px;

    --Main-Container-Screen-Margins:69px;
    --Main-Container-Width:clamp(min(60vw, 800px), calc(var(--Sidebar-Width) + var(--Sidebar-Gap-Right) + 540px), 80vw); /* clamp(min(45vw, 700px), 540px, 80vw) */
    --Main-Container-Section-Spacing:min(7vh, 2rem);

    /*----- PREVIEW IMAGE -----*/
    --Preview-Image-Rounded-Corners:0.5rem;
    --Preview-Image-Border-Size:1px;
    --Preview-Image-Border-Color:#f0f0f0;

    /*----- FONT / TEXT -----*/
    --Body-Font-Size:0.9rem;
    --Body-Text-Color:#4f576a;
    --Body-Line-Height:1.69; /* nums only */

    --Blockquote-Border-Size:1px;
    --Blockquote-Border-Color:#dedede;

    --Links:#444b5b;
    --Links-Underline-Size:1px;
    --Links-Underline-Color:#eaeaea;

    /*----- BOXES -----*/
    --Boxes-Padding-X:1.5rem;
    --Boxes-Padding-Y:1.4rem;
    --Boxes-Rounded-Corners:0.69rem;
    --Boxes-Border-Size:1px;
    --Boxes-Border-Color:#f0f0f0;
    --Boxes-BG:#fff;

    --Boxes-Heading-Size:1rem;

    /*----- POST BUTTONS (preview, download, etc) -----*/
    --Post-Buttons-Padding-X:0.8em;
    --Post-Buttons-Padding-Y:0.69em;
    --Post-Buttons-Border-Size:1px;
    --Post-Buttons-Border-Color:#ecedef;
    --Post-Buttons-BG:#f8f9fb;
    --Post-Buttons-Rounded-Corners:5px;
    --Post-Buttons-Font-Size:0.7rem;
    --Post-Buttons-Icon-Size:1.2rem;
    --Post-Buttons-Icon-Gap:5px;
    --Post-Buttons-Spacing:0.8rem;

    /*----- CODE TEXT -----*/
    --Code-Border-Size:1px;
    --Code-Border-Color:#dde5ef;
    --Code-Padding-X:0.4em;
    --Code-Padding-Y:0.069em;
    --Code-BG:#eef1f5;
    --Code-BG-RGB:232,235,242;
    --Code-Rounded-Corners:5px;
    --Code-Text-Color:#4f576a;

    /*----- INLINE IMAGES -----*/
    --Inline-Images-Rounded-Corners:0.85rem;
    --Inline-Images-Border-Size:1px;
    --Inline-Images-Border-Color:#f0f0f0;
    
    --Table-Border-Size:1px;
    --Table-Border-Color:#e9e9e9;
    --Table-Rounded-Corners:0.5em;
    --Table-Cell-Padding-X:0.69em;
    --Table-Cell-Padding-Y:0.5em;

    /*----- MISC / OTHER -----*/
    --Scrollbar-Padding:13px;
    --Scrollbar-Thumb:#b2b4bc;

    /*----- COG/SETTINGS -----*/
    --Corner-Btn-Total-Size:calc((0.5rem * 2) + (var(--Boxes-Border-Size) * 2) + (var(--Body-Font-Size) * 1.15));
}
